

<table *ngIf="timetables && timetables.length > 0" class="table table-bordered border-primary">
  <thead>
    <tr style="background:#e0350d; color:white; font-size: 12px !important;">
      <th>AIRCRAFT TYPE </th>
      <th>FLIGHT NUMBER</th>
      <th>DEPARTURE</th>
      <th>ARRIVAL</th>
      <th>DEPARTURE TIME</th>
      <th>ARRIVAL TIME</th>
      <th>BLOC TIME</th>
      <th>ALLOTEMENT</th>
    </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let timetable of timetables; let i = index">
    <ng-container >
      <!-- New Aircraft Type or First Row -->
      <tr>
        <td>{{timetable.typeAirplane.label}}</td>
        <td>{{timetable.numberFlay}}</td>
        <td *ngIf="timetable?.departure?.label">{{timetable.departure.label}}</td>
        <td *ngIf="timetable?.arrival">{{timetable.arrival.label}}</td>
        <td>{{timetable.departureTime}}</td>
        <td>{{timetable.timeArrived}}</td>
        <td>{{timetable.blockTime}}</td>
        <td>{{timetable.allotement}}</td>
      </tr>
    </ng-container>
  </ng-container>
  </tbody>
</table>
