<table *ngIf="flights && flights.length > 0" class="table table-bordered border-primary">
  <thead>
    <tr style="background:#e0350d; color:white; font-size: 12px !important;">
      <th>AIRCRAFT TYPE </th>
      <th>FLIGHT NUMBER</th>
      <th>DEPARTURE</th>
      <th>ARRIVAL</th>
      <th>DEPARTURE TIME</th>
      <th>ARRIVAL TIME</th>
      <th>BLOC TIME</th>
      <th>ALLOTEMENT</th>
    </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let flight of flights; let i = index">
    <ng-container *ngIf="i === 0 || flight.typeAirplane.label !== flights[i - 1].typeAirplane.label">
      <!-- New Aircraft Type or First Row -->
      <tr>
        <td>{{flight.typeAirplane.label}}</td>
        <td>{{flight.codeObject}}</td>
        <td *ngIf="flight?.departure?.label">{{flight.departure.label}}</td>
        <td *ngIf="flight?.arrival">{{flight.arrival.label}}</td>
        <td>{{flight.departureTime}}</td>
        <td>{{flight.timeArrived}}</td>
        <td>{{flight.blockTime}}</td>
        <td>{{flight.allotement}}</td>
      </tr>
    </ng-container>
  </ng-container>
  </tbody>
</table>
