<div class="container">
  <div class="row">
    <div class="col-md-3">
      <select class="form-control" style="border-radius: 5px;">
        <option  selected >Départ / Departure</option>
        <option value="BNC">Beni (BNC)</option>
        <option value="BUX">Bunia (BUX)</option>
        <option value="GMA">Gemena (GMA)</option>
        <option value="GOM">GOMA (GOM)</option>
        <option value="IRP">Isiro (IRP)</option>
        <option value="FMI">Kalemie (FMI)</option>
        <option value="KGA">Kananga (KGA)</option>
        <option value="KND">Kindu (KND)</option>
        <option value="FIH">Kinshasa (FIH)</option>
      </select>
    </div>
    <div class="col-md-3">
      <select class="form-control" style="border-radius: 5px;">
        <option selected >Arrivé / Arrival</option>
        <option value="BNC">Beni (BNC)</option>
        <option value="BUX">Bunia (BUX)</option>
        <option value="GMA">Gemena (GMA)</option>
        <option value="GOM">GOMA (GOM)</option>
        <option value="IRP">Isiro (IRP)</option>
        <option value="FMI">Kalemie (FMI)</option>
        <option value="KGA">Kananga (KGA)</option>
        <option value="KND">Kindu (KND)</option>
        <option value="FIH">Kinshasa (FIH)</option>
      </select>
    </div>
    <div class="col-md-2">
      <select class="form-control" style="border-radius: 5px;">
        <option selected>Jour / Days</option>
        <option>Lundi / Monday</option>
        <option>Mardi / Tuesday</option>
        <option>Mercredi / Wednesday</option>
        <option>Jeudi / Thursday</option>
        <option>Vendredi / Friday</option>
        <option>Samedi / Saturday</option>
        <option>Dimanche / Sunday</option>
      </select>
    </div>
    <div class="col-md-2">
      <form class="form-floating" >
        <input type="date" class="form-control" id="floatingInputValue" placeholder="10/11/23" value="10/11/23">
      </form>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
        <label><i class="icon-check" style="font-size: 20px"></i> Valider</label>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 "  style="text-align: center; margin-top: 25px!important;">
      <p>Lundi/ Monday  | 23 Novembre 2023</p>
    </div>
    <div class="col-md-12">
      <table class="table table-bordered border-primary">
        <thead>
        <tr>
          <th>Type d'avion/<br>Plane type</th>
          <th>Numero de vol/<br>Fly number</th>
          <th>Départ/<br>Departure</th>
          <th>Arrivé/<br>Arrival</th>
          <th>Heure de départ/<br>Departure time</th>
          <th>Heure d'arrivé/<br>Arrival time</th>
          <th>Bloc <br>time</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th ></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

