<div class="container" style="margin-top: 40px">
  <div class="row">
    <div class="col-md-12" style="margin: 50px 0; text-align: center">
      <h1>Horaire de vol</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label for="">Départ / Departure</label>
      <select class="form-control" style="border-radius: 5px;" [(ngModel)]="departure" (change)="search()">
        <option selected value="0">Tout</option>
        <option *ngFor="let city of cities" value="{{city._id}}">{{city.label}}</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="">Arrivé / Arrival</label>
      <select class="form-control" style="border-radius: 5px;" [(ngModel)]="arrival" (change)="search()">
        <option selected value="0">Tout</option>
        <option *ngFor="let city of cities" value="{{city._id}}">{{city.label}}</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="">Type d'avion</label>

      <select class="form-control" style="border-radius: 5px;" [(ngModel)]="typeAirplane" (change)="search()">
        <option selected value="0"> Tout</option>
        <option *ngFor="let typeAircraft of typeAircrafts" value="{{typeAircraft._id}}">{{typeAircraft.label}}</option>

      </select>
    </div>
    <div class="col-md-3">
      <label for="">Date</label>
      <div class="card flex justify-content-center">
        <p-calendar [(ngModel)]="dates" selectionMode="multiple" [readonlyInput]="true"
          (ngModelChange)="search()"></p-calendar>
      </div>
    </div>
    <div class="col-md-12">
      <div class="text-center">
        <!-- <h3 class="mt-4"> Résultats de la recherche de vols : {{cityArrival}} vers {{departure}}
                </h3> -->
      </div>
    </div>
  </div>

  <div class="row" style="margin: 40px 0; align-items: center">
    <div *ngIf="flightsGrouped && flightsGrouped.length != 0" class="col-md-12 "
      style="text-align: center; margin-top: 25px!important;">


      <div *ngIf="cityArrival.label || cityDeparture.label">
        <div *ngIf="cityArrival.label && cityDeparture.label">
          <h2>Vols de {{cityDeparture.label}} à {{cityArrival.label}}</h2>
        </div>
        <div *ngIf="cityDeparture.label && !cityArrival.label">
          <h2>Vols depuis {{cityDeparture.label}} vers toutes les villes</h2>
        </div>
        <div *ngIf="cityArrival.label && !cityDeparture.label">
          <h2>Toutes les villes à destination {{cityArrival.label}}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-12" style="padding: 0 !important;">
      <div *ngFor="let fg of flightsGrouped">
        <h3 class="text-center">{{ getFomateDate(fg.label)| date:"dd MMMM yyy"}}</h3>
        <app-home-flight-table [flights]="fg.flights"></app-home-flight-table>
      </div>


      <div *ngIf="flightsGrouped && flightsGrouped.length == 0 && loaded" style="text-align: center">
        <i class="icon-airplane text-danger" style="font-size: 80px;"></i>
        <h2 class="text-primary">Aucun vol trouvé</h2>
      </div>
    </div>
  </div>
</div>