<div class="container" style="margin-top: 40px">
  <div class="row">
    <div class="col-md-12" style="margin: 50px 0; text-align: center">
      <h1>Horaire de vol</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <select class="form-control" style="border-radius: 5px;" [(ngModel)]="departure">
        <option selected value="0">Départ / Departure</option>
        <option *ngFor="let city of cities" value="{{city._id}}">{{city.label}}</option>
      </select>
    </div>
    <div class="col-md-3">
      <select class="form-control" style="border-radius: 5px;" [(ngModel)]="arrival">
        <option selected value="0">Arrivé / Arrival</option>
        <option *ngFor="let city of cities" value="{{city._id}}">{{city.label}}</option>
      </select>
    </div>
    <div *ngIf="false" class="col-md-2">
      <select class="form-control" style="border-radius: 5px;" [(ngModel)]="day">
        <option selected value="0"> Jour / Days</option>
        <option *ngFor="let day of days" value="{{day._id}}">{{day.label}}</option>

      </select>
    </div>
    <div class="col-md-2">
      <input type="date" class="form-control" id="floatingInputValue"
             placeholder="10/11/23" value="10/11/23"
             [(ngModel)]="date">
    </div>
    <div class="col-md-2">
      <button style="border-radius: 5px; padding: 7px 30px" type="button"
              class="btn btn-danger" (click)="search()">
        Valider
      </button>
    </div>
  </div>

  <div class="row" style="margin: 40px 0; align-items: center">
    <div *ngIf="false" class="col-md-12 " style="text-align: center; margin-top: 25px!important;">
      <p>{{ date | date : "dd-MM-yyyy"}}</p>
    </div>
    <div class="col-md-12" style="padding: 0 !important;">
      <table *ngIf="flights && flights.length > 0" class="table table-bordered border-primary">
        <thead>
          <tr>
            <th >Type d'avion/<br>Aircraft Type</th>
            <th>Numéro de vol/<br>Fly number</th>
            <th>Départ/<br>Departure</th>
            <th>Arrivé/<br>Arrival</th>
            <th>Heure de départ/<br>Departure time</th>
            <th>Heure d'arrivé/<br>Arrival time</th>
            <th>Bloc time</th>
            <th>Allotement</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let flight of flights">
            <td><span *ngIf="flight?.typeAirplane?.aicraftType">{{flight.typeAirplane.aicraftType}}</span></td>
            <td>{{flight.codeObject}}</td>
            <td *ngIf="flight?.departure?.label">{{flight.departure.label}}</td>
            <td *ngIf="flight?.arrival">{{flight.arrival.label}}</td>
            <td>{{flight.departureTime}}</td>
            <td>{{flight.timeArrived}}</td>
            <td>{{flight.blockTime}}</td>
            <td></td>
          </tr>

        </tbody>
      </table>
      <div style="margin-top: 100px"></div>

      <div *ngIf="flights && flights.length == 0 && loaded" style="text-align: center">
        <h2>Aucun vol trouvé</h2>
      </div>
    </div>
  </div>
</div>
